<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pw.com.tgpt"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/fuel_gauge"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".PushUpdateService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="pw.com.tgpt.action.CREATE_STATIC_NOTIFICATION" />
                <action android:name="pw.com.tgpt.action.STATIC_NOTIFICATION" />
                <action android:name="pw.com.tgpt.action.CANCEL_STATIC_NOTIFICATION" />
                <action android:name="pw.com.tgpt.action.CREATE_DYNAMIC_NOTIFICATION" />
                <action android:name="pw.com.tgpt.action.DYNAMIC_NOTIFICATION" />
                <action android:name="pw.com.tgpt.action.CANCEL_DYNAMIC_NOTIFICATION" />
            </intent-filter>
        </service>
    </application>

</manifest>
